.container.fb
  .left
    .logo
      a(href="#{site.basepath}/")
        h1.site-name= site.name

  .right
    - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
    a(href="#{repo}/#{srcpath}" target="_blank")
      span.date= date
