header.meta
  .left
    .logo
      a(href="#{site.basepath}/")
        h1= site.name
    if (bid)
      .slash /
      .b-title
        a(href="/refills/#{bid}/")
          h2.b-title= summary[bid].info.title

  .right
    - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
    - var binder = repo + "/" + bid + "/"
    - var gh_url = rid ? binder + rid + ".md" : binder + "/index.md"
    a(href=gh_url target="_blank")
      span.date= date
