footer
  hr
  .meta
    .left
      a.author(href="https://github.com/syon")
        img(src="#{site.basepath}/assets/img/syon.jpg", alt="syon", target="_blank")
        span syon

    if (env.NODE_ENV == 'development')
      - var remote = `https://syon.github.io/refills/rid/${rid}/`
      a(href=remote) Remote site

    .right
      .repo
        if (srcpath)
          span
            - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
            a(href="#{repo}/#{srcpath}" target="_blank") 更新履歴

        a(href="https://github.com/syon/refills" target="_blank") Repo

        a(href="https://app.wercker.com/project/byKey/3938da859441da2240b9f5d8f7d9f9fd")
          img(alt="Wercker status" src="https://app.wercker.com/status/3938da859441da2240b9f5d8f7d9f9fd/s/master")
