header.meta
  .left
    .logo
      a(href="#{site.basepath}/")
        h1= site.name

  .right
    - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
    a(href="#{repo}/#{srcpath}.md" target="_blank")
      span.date= date
