extends layout

block title_ogp
  - var pageTitle = `${title} | ${site.name}`

  title= pageTitle
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=site.name)

  if (desc)
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

  meta(property="og:type", content="article")
  meta(property="og:url", content="#{site.baseurl}/refills/bid/#{bid}/")

  if (ogpimg)
    meta(property="og:image", content="#{site.baseurl}/#{ogpimg}")
  else
    meta(property="og:image", content="#{site.baseurl}/assets/img/ogp.png")

block body

  header.site-head
    include _site-header.jade

  section#article

    if wip
      .wip WIP ― 記述途中です

    .a-title
      h1.r-title!= title

      - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
      a.r-date(href="#{repo}/#{srcpath}" target="_blank")
        span= date

    if (heroimgpath)
      .hero
        img(src="https://s3-ap-northeast-1.amazonaws.com/syon.github.io/refills/#{heroimgpath}" alt=bid)

    .index
      .article-links
        each r in summary[bid].refills
          a(href="/refills/rid/#{r.rid}/")
            .left
              span.octicon.octicon-file-text
              = r.title

      if rels
        h2 Related Refills
        .article-links
          each rel in rels
            - r = bdrf[rel]
            if r
              a(href="/refills/rid/#{r.rid}/")
                .left
                  span.octicon.octicon-file-text
                  = r.title
                .right
                  span.binder-ro
                    span.octicon.octicon-file-directory
                    span #{summary[r.bid].info.title}

    article.main!= contents

    .adsense
      include _adsense-bottom.jade

    include _article-footer.jade
