extends layout

block title
  title #{title} | #{site.name}

block body
  include _article-header.jade

  article#article

    .title
      h1.r-title!= title

    .hero
      img(src="hero.png" alt=bid)

    .index
      h2 Index of #{summary[bid].info.title}
      .article-links
        each r in summary[bid].refills
          a(href="/refills/#{r.bid}/#{r.rid}/")= r.title

    div!= contents

    .adsense
      include _adsense-bottom.jade
