extends layout

block title_ogp
  - var pageTitle = `${title} | ${site.name}`

  title= pageTitle
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=site.name)

  if (desc)
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

  meta(property="og:type", content="article")
  meta(property="og:url", content="#{site.baseurl}/refills/#{bid}/")

  if (ogpimg)
    meta(property="og:image", content="#{site.baseurl}/#{ogpimg}")
  else
    meta(property="og:image", content="#{site.baseurl}/assets/img/ogp.png")

block body

  article#article
    include _article-header.jade

    if draft
      .draft DRAFT

    .title
      h1.r-title!= title

    .hero
      img(src="hero.png" alt=bid)

    .index
      h2 Index of #{summary[bid].info.title}
      .article-links
        each r in summary[bid].refills
          a(href="/refills/#{r.bid}/#{r.rid}/")
            .left
              span.octicon.octicon-file-text
              = r.title

      h2 Related Refills
      .article-links
        if rels
          each rel in rels
            - r = bdrf[rel]
            a(href="/refills/#{r.bid}/#{r.rid}/")
              .left
                span.octicon.octicon-file-text
                = r.title

    div!= contents

    .adsense
      include _adsense-bottom.jade

    footer
      hr
      .meta
        a.author(href="https://github.com/syon")
          img(src="#{site.basepath}/assets/img/syon.png", alt="syon", target="_blank")
          span syon
        span
          - var repo = 'https://github.com/syon/refills/blob/master/src/refills'
          - var binder = repo + "/" + bid + "/"
          - var gh_url = rid ? binder + rid + ".md" : binder + "/index.md"
          a(href=gh_url target="_blank") ChangeLog
