extends layout

block title_ogp
  - var pageTitle = `${site.name}`

  title= pageTitle
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=site.name)

  if (desc)
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

  meta(property="og:type", content="website")
  meta(property="og:url", content="#{site.baseurl}/")

  if (ogpimg)
    meta(property="og:image", content="#{site.baseurl}/#{ogpimg}")
  else
    meta(property="og:image", content="#{site.baseurl}/assets/img/ogp.png")

block body

  article#article

    .title
      h1.r-title!= title

    div!= contents

    footer
      hr
      .meta
        a.author(href="https://github.com/syon")
          img(src="#{site.basepath}/assets/img/syon.png", alt="syon", target="_blank")
          span syon
        .repo
          a(href="https://github.com/syon/refills" target="_blank") Repo
          a(href="https://app.wercker.com/project/byKey/3938da859441da2240b9f5d8f7d9f9fd")
            img(alt="Wercker status" src="https://app.wercker.com/status/3938da859441da2240b9f5d8f7d9f9fd/s/master")
