doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.name : site.name
        link(rel="stylesheet" href="#{site.basepath}/assets/vendor/outline.min.css")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather:400,400italic,700,700italic")
        link(rel="stylesheet" href="#{site.basepath}/assets/vendor/prism.css")
        link(rel="stylesheet" href="#{site.basepath}/assets/app.css")
  body
    block body
      block header
        header
          .container
            h1= site.name
      block main
