doctype html
html(lang="ja")
  head
    block head
      block title
      meta(name="viewport" content="initial-scale=1, width=device-width")
      link(rel="stylesheet" href="#{site.basepath}/assets/vendor/yakuhanjp/css/yakuhanjp.css")
      link(rel="stylesheet" href="#{site.basepath}/assets/vendor/octicons/octicons.css")
      link(rel="stylesheet" href="#{site.basepath}/assets/vendor/semantic/semantic.min.css")
      link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Italianno|Lato:400,700,900|Merriweather:400,400italic,700,700italic")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
      link(rel="stylesheet" href="#{site.basepath}/assets/vendor/prism.css")
      link(rel="stylesheet" href="#{site.basepath}/assets/app.css")
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script(src="#{site.basepath}/assets/vendor/semantic/semantic.min.js")
      script(src="#{site.basepath}/assets/app.js")
      include analytics.jade
  body
    block body
