extends layout

block title
  title #{title} :: #{summary[bid].info.title} | #{site.name}

block body
  include _article-header.jade

  article#article

    .title
      h2.b-title= summary[bid].info.title
      h1.r-title!= title
  
    .main!= contents

    .adsense
      include _adsense-bigbanner.jade

    footer
      h3
        | Index of&nbsp;
        a(href="/refills/#{bid}/") #{summary[bid].info.title}
      ul
        each r in summary[bid].refills
          li
            a(href="/refills/#{r.bid}/#{r.rid}/")= r.title
