extends layout

block title_ogp
  if (bid)
    - var pageTitle = `${title} :: ${summary[bid].info.title} | ${site.name}`
  else
    - var pageTitle = `${title} | ${site.name}`

  title= pageTitle
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=site.name)

  if (desc)
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

  meta(property="og:type", content="article")
  meta(property="og:url", content="#{site.baseurl}/refills/#{bid}/#{rid}/")

  if (ogpimg)
    meta(property="og:image", content="#{site.baseurl}/#{ogpimg}")
  else
    meta(property="og:image", content="#{site.baseurl}/assets/img/ogp.png")

block body

  article#article
    include _article-header.jade

    if wip
      .wip WIP ― 記述途中です

    .title
      h1.r-title!= title

    .main!= contents

    .adsense
      include _adsense-bottom.jade

    footer
      hr
      if (bid)
        h3
          | Index of&nbsp;
          a(href="/refills/#{bid}/") #{summary[bid].info.title}
        .article-links
          each r in summary[bid].refills
            a(href="/refills/#{r.bid}/#{r.rid}/")
              .left
                span.octicon.octicon-file-text
                = r.title

      hr
      .meta
        a.author(href="https://github.com/syon")
          img(src="#{site.basepath}/assets/img/syon.png", alt="syon", target="_blank")
          span syon
        if (env.NODE_ENV == 'development')
          - var remote = `https://syon.github.io/refills/${bid}/${rid}/`
          a(href=remote) Remote site
        span
          - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
          - var binder = repo + "/" + bid + "/"
          - var gh_url = rid ? binder + rid + ".md" : binder + "/index.md"
          a(href=gh_url target="_blank") 更新履歴
