extends layout

block title_ogp
  if (bid)
    - var pageTitle = `${title} :: ${summary[bid].info.title} | ${site.name}`
  else
    - var pageTitle = `${title} | ${site.name}`

  title= pageTitle
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=site.name)

  if (desc)
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

  meta(property="og:type", content="article")
  meta(property="og:url", content="#{site.baseurl}/refills/#{bid}/#{rid}/")

  if (ogpimg)
    meta(property="og:image", content="#{site.s3url}/#{ogpimg}")
  else
    meta(property="og:image", content="#{site.baseurl}/assets/img/ogp.png")

block body

  header.site-head
    include _site-header.jade

  section#article

    if wip
      .wip WIP ― 記述途中です

    .title
      h1.r-title!= title
      
      - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
      a.r-date(href="#{repo}/#{srcpath}" target="_blank")
        span= date

    article.main!= contents

    .adsense
      include _adsense-bottom.jade

    footer
      hr
      if (bid)
        h3
          | Index of&nbsp;
          a(href="/refills/#{bid}/") #{summary[bid].info.title}
        .article-links
          each r in summary[bid].refills
            a(href="/refills/rid/#{r.rid}/")
              .left
                span.octicon.octicon-file-text
                = r.title

    include _article-footer.jade
