extends layout

block title
  title #{summary[bid].info.title} :: #{title} | #{site.name}

block body

  article#article
    include _article-header.jade

    .title
      h2.b-title= summary[bid].info.title
      h1.r-title!= title
  
    .main!= contents

    .adsense
      include _adsense-bottom.jade

    footer
      h3
        | Index of&nbsp;
        a(href="/refills/#{bid}/") #{summary[bid].info.title}
      .article-links
        each r in summary[bid].refills
          a(href="/refills/#{r.bid}/#{r.rid}/")= r.title

      hr
      .meta
        span
          - var repo = 'https://github.com/syon/refills/blob/master/src/refills'
          - var binder = repo + "/" + bid + "/"
          - var gh_url = rid ? binder + rid + ".md" : binder + "/index.md"
          a(href=gh_url target="_blank") ChangeLog
