---
title: Refills
layout: index.jade
---

h2 Recently updated refills

.article-links
  - each r in collections.recent
    if r.rid
      a(href="/refills/#{r.bid}/#{r.rid}/")
        .left
          span.octicon.octicon-file-text
          span #{summary[r.bid].info.title} :: #{r.title}
        .right
          span.date= r.date
        
h2 Binders

.article-links
  each s in summary
    a(href="/refills/#{s.info.bid}/")
      .left
        span.octicon.octicon-file-directory
        = s.info.title
