---
title: Refills
layout: index.jade
---

h2 Recently updated refills

.article-links
  - each r in collections.recent
    if r.rid
      a(href="/refills/rid/#{r.rid}/")
        .left
          span.octicon.octicon-file-text
          span #{r.title}
        .right
          span.binder-ro
            span #{summary[r.bid].info.title}
          span.date= r.date

h2 Binders

.article-links
  each s in summary
    - if (s.info.bid)
      a(href="/refills/bid/#{s.info.bid}/")
        .left
          span.octicon.octicon-file-directory
          = s.info.title
