---
title: Refills
layout: index.jade
---

h2 Recently updated refills

.article-links
  - each r in collections.all
    if r.rid
      a(href="/refills/rid/#{r.rid}/")
        .left
          span.octicon.octicon-file-text
          .r-title
            span #{r.title}
            if r.category
              span.r-category :: #{r.category}
        .right
          span.date= r.date

h2 Binders

.article-links
  each s in summary
    - if (s.info.bid)
      a(href="/refills/bid/#{s.info.bid}/")
        .left
          span.octicon.octicon-file-directory
          = s.info.title
