---
title: Refills
layout: index.jade
---

h2 Recently updated refills

.article-links
  - each r in collections.recent
    if r.rid
      a(href="/refills/#{r.bid}/#{r.rid}/")
        span.date= r.date
        span #{summary[r.bid].info.title} :: #{r.title}
        
h2 Binders

.article-links
  each s in summary
    a(href="/refills/#{s.info.bid}/")= s.info.title
